@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.nav{
    display: flex;
    justify-content: center; 
    gap: 80px;
    height: 40px;
    width: 520px;
    align-items: center;
    margin-left: 0px;
    margin: 10px auto; 
    position: sticky;
    font-size: 30px;
    transition-timing-function: linear;
    top: 0;
    animation-name: anchor;
    animation-duration: 3s;
    font-weight: bolder;
    animation-delay: 0s;
    
    
    
}
@keyframes anchor{
    0%{
        opacity: 0;
        
    }
    20%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
   
   

}
.nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight:400;
    font-family: 'Poppins',sans-serif;
    opacity: 10;
    
    
    
}
.nav a:hover{
    font-size: 30px;
    
}

.contact{
    position: relative;
    min-height: 101vh;
    flex-direction: column;
    padding: 51px 101px;
    display: flex;
    background: #080E19;
    justify-content: center;
    align-items: center;
    
    
}
.contact .content{
    text-align: center;
    min-width: 803px;
    
}
.contact .content h2{
    font-size: 3.1em;
    color: #fff;
    font-weight: 501;
    text-align: center;
}
.contact .content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 301;
    
    
}
.faf{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 51px;
    margin-top: 25px;

}
.faf .Infor{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.faf .Infor .box{
    position: relative;
    padding: 20px 0;
    cursor: pointer;
    display: flex;
    
}
.faf .Infor .box .icon{
    min-width: 60px;
    height: 60px;
    justify-content: center;
    background: #fff;
    display: flex;
    align-items: center;
    font-size: 1.76em;
    transition: 0.5s;

}
.faf .Infor .box:hover .icon
{
    background: #F2CD5C;
    color: #fff;

}
.faf .Infor .box .text{
    display: flex;
    color: #fff;
    flex-direction: column;
    margin-left: 21px;
    font-weight: 301;
    font-size: 1.1rem;
    
    
}
.faf .Infor .box .text h3{
    font-weight: 500;
    color:#F2CD5C;
}
.faf .Infor .txt{
    color: #fff;
    margin-top:50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #F2CD5C;
    line-height: 1rem;
}
.sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.sci li{
    list-style: none;
}
.sci a{
    color: #fff;
    font-size: 2rem;
    transition: 0.5s;
}
.sci a:hover{
    color: #0ef;
}
.faf .contactForm .inputi input,
.faf .contactForm .inputi textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 4px solid #F2CD5C;
    outline: none;
    resize: none;
    background: #080E19;
    font-weight: 700;
    color: #fff;
}
.faf .contactForm h2{
    font-size: 2rem;
    color: #6E43A8;
    font-weight:500;
    color: #fff;

}
.faf .contactForm{
    position: relative;
    width:40%;
    border:2px solid #6E43A8;
    height:500px;
    padding: 60px;
    box-shadow: 0px 0px 40px #6E43A8;
    color: #fff;

}
.faf .contactForm .inputi span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1rem;
    color: #6E43A8;
    transition: 0.5s;
    background: #080E19;
    font-weight: 700;
}

.faf .contactForm .inputi{
    position: relative;
    width: 100%;
    margin-top: 21px;
    background: #080E19;
    color: #fff;

}


.faf .contactForm .inputi input:focus~span,
.faf .contactForm .inputi textarea:focus~span,
.faf .contactForm .inputi input:valid~span,
.faf .contactForm .inputi textarea:valid~span
{
    color: #F2CD5C;
    font-size: 0.9rem;
    transform: translateY(-20px);

}
.faf .contactForm .inputi input[type="submit"]
{
    width: 100px;
    background: #F2CD5C;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}
@media(max-width:991px)
{
    .contact{
        padding: 50px;
    }
    hifaf{
        flex-direction: column;
    }
    .faf .Infor,.faf .contactForm{
        width: 100%;
    }
    .faf .contactForm{
        padding: 50px 30px;
    }

}
.light{
    float: left;
    width: 50%;
}
.dark{
    float: right;
    width: 50%;
}
.jon{
    width: 450px;
    height:    180px;
    background: #6E43A8;
    margin-left: 143px;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 50px;
    color: #fff;
    font-size: 22px;
}
.man{
    width: 450px;
    height:    180px;
    background: #6E43A8;
    margin-left: 143px;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 50px;
    color: #fff;
    font-size: 22px;
}
.jam{
    width: 450px;
    height:    150px;
    background: #6E43A8;
    margin-left: 143px;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 50px;
    color: #fff;
    font-size: 22px;
}
.ana{
    width: 450px;
    height: 536px;
    margin-left: 175px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #6E43A8;
    animation-name:aliya;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    
    
}
@keyframes aliya{
    0%{
        box-shadow:0px 0px 5px #6E43A8 ;
    }
    10%{
        box-shadow:0px 0px 10px #6E43A8 ;
    }
    20%{
        box-shadow:0px 0px 15px #6E43A8 ;
    }
    30%,40%{
        box-shadow:0px 0px 25px #6E43A8 ;
    }
    100%{
        box-shadow:0px 0px 35px #6E43A8 ;
    }
    
    
}
.ana.jonny{
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding-left: 25px;
    padding-top: 30px;
}
.ana.jonny h3{
    margin-top: 30px;
    padding-top: 8px;
}

.inkju{
    margin-top:26px ;
    position:relative;
    justify-content: center;
    gap: 42px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    
}
.inkju .jacksparrow{
    
    color: #fff;
    width: 252px;
    background: #353b48 linear-gradient(to right,transparent
    50%,#F2CD5C  0);
    height: 252px;
    border-radius: 50%;
    position: relative;
    

}

.inkju .jacksparrow h3 span{
    font-weight: 402;
    font-size: 0.67em;
    

}
.inkju .jacksparrow h4{
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    top: 63%;
    font-weight: 501;
    color: #F2CD5C;
    z-index: 1;
    
    
}
.inkju .jacksparrow h3{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-size: 2.5em;
    transform: translate(-50%,-50%);
    font-weight: 500;
    
}
.inkju .jacksparrow::before{
    content: ' ';
    display: block;
    border-radius: 0 100% 100% 0/50%;
    transform-origin: left;
    margin-left: 50%;
    height: 100%;
    
    
    
}
.inkju .jacksparrow::after{
    content: ' ';
    position: absolute;
    inset: 10px;
    background: #222;
    border-radius: 50%;
    
}
.inkju .jacksparrow::before{
    transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
    background: #F2CD5C;
    
}
.inkju .jacksparrow.less::before{
    background: #444;
    transform: rotate(calc(((var(--i) - 0) * 0.01turn )));
}
.right{
    float: right;
    margin-right: 100px;
    
}
.left{
    float: left;
    width: 100%;
}
.skill{
    margin-top: 35px;
    width: 500px;
    margin-left: 120px;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.dom:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);

}
.dom{
    background: #353b48;
    display: block;
    height: 21px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    overflow: hidden;
    
    
}
.dom.yek span{
    background: linear-gradient(905deg,#F2CD5C 100%,#F2CD5C 0%);
}
.dom.chaar span{
    background: linear-gradient(905deg,#F2CD5C 100%,#F2CD5C 0%);
}

.dom span{
    height: 20px;
    float: left;
    
}
.dom.theen  span{
    background: linear-gradient(905deg,#F2CD5C 100%,#F2CD5C 0%);
}

.dom.dho span{
    background: linear-gradient(905deg,#F2CD5C 100%,#F2CD5C 0%);
}
.dom.five span{
    background: linear-gradient(905deg,#F2CD5C 100%,#F2CD5C 0%);
}
.ht{
    width: 75%;
    animation: html 3s;
}
.cs{
    width: 55%;
    animation: css 3s;
}
.py{
    width: 45%;
    animation: py 3s;
}
.java{
    width: 80%;
    animation: java 3s;
}
.cpp{
    width: 90%;
    animation: cpp 3s;

}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width:75%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width:55%;
    }
}
@keyframes py{
    0%{
        width: 0;
    }
    100%{
        width:45%;
    }
}
@keyframes java{
    0%{
        width: 0;
    }
    100%{
        width:80%;
    }
}
@keyframes cpp{
    0%{
        width: 0;
    }
    100%{
        width:90%;
    }
}
a:hover{
    color: #F2CD5C;
}
.kin{
    display: flex;
}
.dep{
    background: #fff;
    width: 160px;
    font-size: 35px;
    height: 55px;
    padding-left: 36px;
    padding-top: 2px;
    margin-left: 150px;
    margin-top: 8px;
    border-radius: 10px;
    color: #6E43A8;
}
.dep a{
    text-decoration: none;
}
.give{
    display: flex;
}
.hi{
    font-family: 'Poppins',sans-serif;
    color: #6E43A8;
    font-size: 70px;
    margin-left: 150px;
    margin-top: 180px;
    animation-name:ox ;
    animation-duration: 1.2s;
    transition-timing-function: linear ;
    animation-delay: 0.05s; 
    
}
@keyframes ox{
    0%{
        transform:translateX(40px)
    }
}
.ih{
    
    color: #fff;
    margin-left: 150px; 
    font-size: 50px;
    animation-name:ox ;
    animation-duration: 1.2s;
    transition-timing-function: linear ; 
    animation-delay: 0.05s;
    font-weight: 1000;
    font-family: 'Poppins',sans-serif;
}
.li{
    float: left;
    font-size: 25px;
    text-align: justify;
}
.ju{
    margin-left: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-right: 6px solid aqua;
    padding-right: 40px;
}

.uj{
    font-size:20px ;
    margin-top: 25  0px;
    margin-right: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

.ojis{
    height: 470px;
}
.kl{
    margin-left: 680px;
    font-size: 45px;
    color: aqua; 
    font-family:Arial, Helvetica, sans-serif;
}
.list li{
    list-style: none;
    
}
.ayu{
    display: flex;
    justify-content: center; 
    gap: 40px;
    height: 40px;
    width: 520px;
    align-items: center;
    margin-left: 140px;
    
    

}
.like{
    float: left ;
}
.photo{
    float: right;
    margin-right: 200px;
    margin-top: 0px;
}